* {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
    background-color: #ebffeb;
    color: #0cc515;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 2.5;
}

header {
    display: grid;
    background-color: inherit;
    z-index: 2;
    grid-template-rows: 14vh;
    grid-template-columns: 78vw 19vw;
    grid-template-areas: "header contact";
    font-size: 1.3vw;
    line-height: 1.5;
}

footer {
    height: 35px;
    width: 97vw;
    margin-top: 78.5vh;
    font-size: 1.3vw;
    background-color: inherit;
    text-align: right;
    position: absolute;
}



a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

img {
    max-height: 500px;
    max-width: 800px;
    display: none;
    position: fixed;
    object-fit: contain;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.header {
    grid-area: header;
}

.contact {
    grid-area: contact;
    text-align: right;
}

.song-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 7vw 16vw 16vw 29vw 1fr;
    grid-template-areas: 
    "year artist song album credit";
    font-size: 1.3vw;
}


.year {
    grid-area: year;
}

.artist {
    grid-area: artist;
}

.artist:hover {
    text-decoration: underline;
}

.song {
    grid-area: song;
}

.album {
    grid-area: album;
}

.credit {
    grid-area: credit;
    font-size: 1.3vw;

    /* background-color: slategray; */
}

.bottom {
    border-bottom: solid 2px #0cc515;
}


/* responsive */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1030px)
  and (-webkit-min-device-pixel-ratio: 2) {

    header {
        display: block;
        padding-bottom: 8vh;
    }

    .contact {
        text-align: left;
    }

    .song-container {
        display: block;
    }
}
